
.mainRecent{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.recentt{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    color: rgb(55, 53, 51);
    background-color: #f5f5f5;
}
.cards img:hover{
    margin-top: -15px;
    transition: 0.5s;
}
.card{
    height: 300px;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
}
.cards{
    height: 150px;
    background-color: #f5f5f5;
}
.cards img{
    height: 200px;
    transition: 0.5s;
}
.card h1{
    padding: 50px 0px;
    text-align: center;
    color:  #2c2d2fc7;
}
.card p{
    margin: -40px 0px ;
    text-align: center;
    color:  #2c2d2fc7;
}
@media screen and (max-width:768px){
    
}