.form{
    padding-top: 20px;
    background-color:rgba(0, 0, 0, 0.863);
    text-align: center;
}
form input{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: none;
    text-decoration: none;
    padding: 10px ;
    width: 30%;
    height: 40px;
    background-color: rgb(54, 62, 71);
    font-size: 16px;
    color: white;
    font-style: italic;
}
#username{
    background-color: rgb(43, 50, 50);
    text-transform:capitalize;
}
#call{
    background-color: rgb(43, 50, 50);
}
form{
    text-decoration: none;
}
#messagetext{
    background-color: rgb(54, 62, 71);
    color: white;
    width: 30%;
    height: 100px;
    padding: 10px ;
    font-size: 16px;
    text-transform:capitalize;
    font-style: italic;
    border: none;
}
button{
    background-color:black;
    margin: 25px;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 10px;
}
button:hover{
    background-color:rgb(16, 113, 105);
    color: white;
}
.login img{
    width: 100px;
    margin: auto;
} 
.login p{
    padding: 20px;
    color: rgba(199, 203, 176, 0.95);
    font-size: 15px;
}
@media screen and (max-width:768px){
    form input{
        width: 80%;
    }
    #messagetext{
        width: 80%;
    }
}